body
{
    background: 	#e8e7e3;
    margin:			10px;
	font-size:		0.8em;
	font-family:	"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	height:			100%;
}

form
{
	display:	block;
}

hr
{
    width:      40em;
}

fieldset
{

	display:	block;
	clear:		both;
	width:		30em;
	margin:		0 0 0 0;
}

html > body fieldset
{
	border:				1px solid #999999;
	border-radius: 		7px;
	-moz-border-radius:	7px;
	padding:			2em 2em 0.5em 2em;
}

* html fieldset
{
	border:		1px solid #999999;
	padding:	0 2em;
}

html > body legend
{
	padding:		10px 5px 10px 50px;
	margin:			0 5px 0 0;
	font-size:		18px;
	background:		url(newsletter.png) left center no-repeat;
	white-space:	nowrap;
}

* html legend
{
	padding-top:	13px;
	padding-bottom: 10px;
	margin-bottom:	1.5em;
	font-size:		18px;
	padding-left:	54px;
	vertical-align: middle;
	background:		url(newsletter.png) no-repeat;
	height:			33px;
	white-space:	nowrap;
}

label
{
    position:   relative;
    left:       30px;
	clear: 		left;
	float: 		left;
	display: 	block;
	width: 		8em;
	margin-top: -1em;
	font-weight: bold;
}

input
{
	position: 	relative;
	top: 		-1.4em;
	left: 		50px;
	display: 	block;
	border:		1px solid #a5acb2;
	padding:	2px;
	background:	#fff;
}

#footer
{
    border-top: 1px solid #717171;    
}

#schritt
{
    background: #C5C5C5;
    width: 30em;
    padding: 5px;
    border: 1px solid #717171;
}

#abschicken
{
	top:		-1em;
	left:		0;
	clear:		left;
	width:		254px;
	background: url(button.png) no-repeat;
	height: 	30px;
	border:		none;
	color:		#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#abschicken:hover, label:hover
{
	color:		#CC0000;
}

#a
{
	background: url(name.png) right top no-repeat scroll;
}

#b
{
	background: url(email.png) right top no-repeat;
}

#a:hover, label:hover #a
{
	color: 		#fff;
	background: #cc0000 url(name_hover.png) right top no-repeat scroll;
}

#b:hover, label:hover #b
{
	color: 		#fff;
	background: #cc0000 url(email_hover.png) right top no-repeat scroll;
}