/*
  Morpheus Theme for phpBB version 2.0.x
  Created by Vjacheslav Trushkin
  http://www.phpbbstyles.com
*/

@import url(style_main.css);

body { 
	background-color: #FFF; 
	scrollbar-arrow-color: #808080;
	scrollbar-face-color: #FFFFFF; 
	scrollbar-track-color: #E0E0E0; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #C0C0C0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-darkshadow-color: #B0B0B0;
}

hr { 
	border-color: #7F7F7F;
}

/* links */
a { 
	color: #808080; 
}
a:visited { 
	color: #727272;
}
a:hover, a:active { 
	color: #FF9C00; 
}

/* header */
#header-box { 
	background-image: url(images/gray/logo_bg.gif); 
}
/* header login form */
#header-login {
	background: url(images/gray/logo_right.gif) top right no-repeat;
}
.login-input, .login-submit {
	background-color: transparent;
	border-color: #6D6D6D;
	color: #4F4F4F;
}
.login-submit {
	background-color: #9E9E9E;
}
.login-input:hover, .login-submit:hover {
	background-color: #9E9E9E;
	border-color: #515151;
}
.login-input:focus, .login-submit:focus {
	background-color: #AAA;
	color: #000;
}
* html .login-input { 
	background-color: transparent; 
	border-color: #515151;
	color: #000;
}
* html .login-submit { 
	background-color: #9E9E9E;
	border-color: #515151;
	color: #000;
}

#navigation { 
	background-image: url(images/gray/logo_bg2.gif); 
}

/* table headers */
table.hdr { 
	background-image: url(images/gray/hdr_bg.gif); 
	color: #7E7E7E; 
}
table.hdr a, table.hdr a:visited { 
	color: #7E7E7E; 
}
table.hdr a:hover, table.hdr a:active { 
	color: #FF9C00; 
}

td.postline { 
	background-color: #7F7F7F; 
}

/* rows */
td.row, .row1, .row2, .row3 { 
	background-color: #FFF;
}

/* th */
th, td.th { 
	color: #F6F6F6; 
	background: #F1F1F1 url(images/gray/bg_th.gif) top left repeat-x; 
	border-color: #9D9D9D; 
}

/* bottom row */
td.catBottom { 
	background: #8C8C8C url(images/gray/bg_cat.gif) top left repeat-x;
}

.nav { color: #FF9C00; }
.nav a, .nav a:visited { color: #808080; }
.nav a:hover, .nav a:active { color: #FF9C00; }

table.nav { border-color: #959595; }

a.forumlink_new, a.forumlink_new:visited { color: #F2A62E; }

.moderators a:hover, .moderators a:active { color: #FF9C00; } 

input.post, textarea.post, select, input.button, input.mainoption, input.liteoption { border-color: #646464; }

select optgroup { background-color: #C6C6C6; }

a.topiclink_new, a.topiclink_new:visited { color: #FF9C00; }

.pagination a, .pagination a:visited { border-color: #D7D7D7; background-color: #EBEBEB; }
.pagination a:hover, .pagination a:active { border-color: #ECECEC; }

.gotopage a, .gotopage a:visited { border-color: #DCDCDC; background-color: #EBEBEB; }
.gotopage a:hover, .gotopage a:active { border-color: #E7E7E7; }

td.spacerow { background-image: url(images/gray/bg_th.gif); }

